 .u-section-1 {
  min-height: 2241px;
}

.u-section-1 .u-line-1 {
  transform-origin: left center;
  margin-top: 1px;
  margin-bottom: 0;
  border-style: double;
}

.u-section-1 .u-layout-wrap-1 {
  width: 792px;
  margin: 17px auto 0 calc(((100% - 1140px) / 2)  + -40px);
}

.u-section-1 .u-layout-cell-1 {
  min-height: 249px;
}

.u-section-1 .u-container-layout-1 {
  padding: 15px 30px 0;
}

.u-section-1 .u-image-1 {
  --radius: 10px;
  width: 202px;
  height: 202px;
  margin: 9px auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 249px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-layout-wrap-2 {
  width: 481px;
  margin: -241px auto 0 calc(((100% - 1140px) / 2)  + 235px);
}

.u-section-1 .u-layout-cell-3 {
  min-height: 223px;
}

.u-section-1 .u-container-layout-3 {
  padding: 16px 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 14px auto 0 13px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 0 auto 0 13px;
}

.u-section-1 .u-layout-wrap-3 {
  width: 455px;
  margin: -145px calc(((100% - 1140px) / 2)  + -54px) 0 auto;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 108px;
}

.u-section-1 .u-container-layout-4 {
  padding: 29px 0;
}

.u-section-1 .u-social-icons-1 {
  height: 48px;
  width: 348px;
  min-width: 120px;
  margin: 1px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 0;
}

.u-section-1 .u-icon-2 {
  height: 0;
}

.u-section-1 .u-icon-3 {
  height: 0;
}

.u-section-1 .u-icon-4 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-1 .u-icon-5 {
  height: 100%;
  color: rgb(27, 31, 35) !important;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: -137px calc(((100% - 1140px) / 2)  + -33px) 0 calc(((100% - 1140px) / 2)  + 761px);
}

.u-section-1 .u-group-1 {
  width: 1150px;
  --radius: 10px;
  height: auto;
  min-height: 126px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 182px auto 0 calc(((100% - 1140px) / 2)  + -10px);
}

.u-section-1 .u-container-layout-5 {
  padding-left: 18px;
  padding-right: 18px;
}

.u-section-1 .u-image-2 {
  width: 87px;
  height: 87px;
  margin: 18px auto 0 37px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -94px 63px 0 178px;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  margin: 10px 0 0 178px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  margin: 34px calc(((100% - 1140px) / 2)  + 522px) 0 calc(((100% - 1140px) / 2)  + -10px);
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-7 {
  text-transform: uppercase;
  font-weight: 700;
  margin: -547px calc(((100% - 1140px) / 2)  + 136px) 0 calc(((100% - 1140px) / 2)  + 671px);
}

.u-section-1 .u-group-2 {
  width: 478px;
  height: auto;
  background-image: none;
  min-height: 1120px;
  margin: 9px calc(((100% - 1140px) / 2)) 60px auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-accordion-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-accordion-link-1 {
  font-size: 1.875rem;
  letter-spacing: 1px;
  font-weight: 700;
}

.u-section-1 .u-icon-6 {
  height: 20px;
  width: 20px;
  background-image: none;
  padding: 4px;
}

.u-section-1 .u-accordion-pane-1 {
  min-height: 775px;
  height: auto;
}

.u-section-1 .u-container-layout-7 {
  padding: 3px;
}

.u-section-1 .u-line-2 {
  width: 444px;
  transform-origin: left center;
  margin: 0 auto 0 13px;
}

.u-section-1 .u-text-8 {
  margin: 11px 27px 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-accordion-link-2 {
  font-size: 1.875rem;
  letter-spacing: 1px;
  font-weight: 700;
}

.u-section-1 .u-icon-7 {
  height: 20px;
  width: 20px;
  background-image: none;
  padding: 4px;
}

.u-section-1 .u-accordion-pane-2 {
  min-height: 775px;
  height: auto;
}

.u-section-1 .u-container-layout-8 {
  padding: 4px 0;
}

.u-section-1 .u-line-3 {
  width: 444px;
  transform-origin: left center;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  margin: 25px 30px 0;
}

.u-section-1 .u-btn-13 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-14 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-15 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-16 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-17 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-18 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-19 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-20 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-accordion-link-3 {
  font-size: 1.875rem;
  letter-spacing: 1px;
  font-weight: 700;
}

.u-section-1 .u-icon-8 {
  height: 20px;
  width: 20px;
  background-image: none;
  padding: 4px;
}

.u-section-1 .u-accordion-pane-3 {
  min-height: 775px;
  height: auto;
}

.u-section-1 .u-container-layout-9 {
  padding: 7px 17px;
}

.u-section-1 .u-line-4 {
  width: 444px;
  transform-origin: left center;
  margin: 0 auto;
}

.u-section-1 .u-text-10 {
  margin: 22px 13px 0;
}

.u-section-1 .u-btn-21 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-22 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-23 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-24 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-25 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-26 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-27 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-28 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-29 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-30 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-accordion-link-4 {
  font-size: 1.875rem;
  letter-spacing: 1px;
  font-weight: 700;
}

.u-section-1 .u-icon-9 {
  height: 20px;
  width: 20px;
  background-image: none;
  padding: 4px;
}

.u-section-1 .u-accordion-pane-4 {
  min-height: 899px;
  height: auto;
}

.u-section-1 .u-container-layout-10 {
  padding: 11px 0;
}

.u-section-1 .u-line-5 {
  width: 444px;
  transform-origin: left center;
  margin: 0 auto;
}

.u-section-1 .u-text-11 {
  margin: 18px 30px 0;
}

.u-section-1 .u-btn-31 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-32 {
  font-size: 18px;
  background-color: rgb(242, 242, 242);
  font-family: "Open Sans", sans-serif;
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-33 {
  font-size: 18px;
  background-color: rgb(242, 242, 242);
  font-family: "Open Sans", sans-serif;
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-34 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-35 {
  font-size: 18px;
  background-color: rgb(242, 242, 242);
  font-family: "Open Sans", sans-serif;
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-36 {
  font-size: 18px;
  background-color: rgb(242, 242, 242);
  font-family: "Open Sans", sans-serif;
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-37 {
  font-size: 18px;
  background-color: rgb(242, 242, 242);
  font-family: "Open Sans", sans-serif;
  background-image: none;
  padding: 0;
}

.u-section-1 .u-accordion-link-5 {
  font-size: 1.875rem;
  letter-spacing: 1px;
  font-weight: 700;
}

.u-section-1 .u-icon-10 {
  height: 20px;
  width: 20px;
  background-image: none;
  padding: 4px;
}

.u-section-1 .u-accordion-pane-5 {
  min-height: 1353px;
  height: auto;
}

.u-section-1 .u-container-layout-11 {
  padding: 11px 0;
}

.u-section-1 .u-line-6 {
  width: 444px;
  transform-origin: left center;
  margin: 0 auto;
}

.u-section-1 .u-text-12 {
  margin: 18px 30px 0;
}

.u-section-1 .u-btn-38 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-39 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-40 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-41 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-42 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-43 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-44 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-45 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-left: calc(((100% - 940px) / 2) + -40px);
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-left: calc(((100% - 940px) / 2) + 235px);
  }

  .u-section-1 .u-layout-wrap-3 {
    margin-right: calc(((100% - 940px) / 2) + -54px);
  }

  .u-section-1 .u-social-icons-1 {
    min-height: 16px;
    width: 108px;
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2) + -33px);
    margin-left: calc(((100% - 940px) / 2) + 561px);
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 22px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -111px;
    margin-right: 0;
    margin-left: 31px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 940px) / 2) + 312px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 940px) / 2) + 36px);
    margin-left: calc(((100% - 940px) / 2) + 571px);
  }

  .u-section-1 .u-group-2 {
    margin-right: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-1 .u-btn-32 {
    font-size: 18rem;
    text-align: left;
  }

  .u-section-1 .u-btn-33 {
    font-size: 18rem;
    text-align: left;
  }

  .u-section-1 .u-btn-35 {
    font-size: 18rem;
    text-align: left;
  }

  .u-section-1 .u-btn-36 {
    font-size: 18rem;
    text-align: left;
  }

  .u-section-1 .u-btn-37 {
    font-size: 18rem;
    text-align: left;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 2095px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 226px;
  }

  .u-section-1 .u-image-1 {
    width: 168px;
    height: 168px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 226px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-left: calc(((100% - 720px) / 2) + 235px);
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-wrap-3 {
    margin-right: calc(((100% - 720px) / 2) + -54px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2) + -33px);
    margin-left: calc(((100% - 720px) / 2) + 341px);
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 720px) / 2) + 92px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 387px);
  }

  .u-section-1 .u-group-2 {
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 2816px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 726px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 221px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-left: calc(((100% - 540px) / 2) + 59px);
  }

  .u-section-1 .u-text-1 {
    font-size: 1.6666666666666665rem;
  }

  .u-section-1 .u-layout-wrap-3 {
    margin-right: calc(((100% - 540px) / 2) + -54px);
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 216px;
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2) + -33px);
    margin-left: calc(((100% - 540px) / 2) + 161px);
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 207px);
  }

  .u-section-1 .u-group-2 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-accordion-link-1 {
    font-size: 1.6666666666666665rem;
  }

  .u-section-1 .u-accordion-link-2 {
    font-size: 1.6666666666666665rem;
  }

  .u-section-1 .u-accordion-link-3 {
    font-size: 1.6666666666666665rem;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-accordion-link-4 {
    font-size: 1.6666666666666665rem;
  }

  .u-section-1 .u-accordion-link-5 {
    font-size: 1.6666666666666665rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 2438px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 457px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 139px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-layout-wrap-3 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 161px;
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 7px);
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-line-2 {
    width: 333px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-3 {
    width: 340px;
  }

  .u-section-1 .u-line-4 {
    width: 320px;
  }

  .u-section-1 .u-line-5 {
    width: 340px;
  }

  .u-section-1 .u-line-6 {
    width: 340px;
  }
}