 .u-section-1 {
  min-height: 2820px;
}

.u-section-1 .u-line-1 {
  transform-origin: left center;
  margin-top: -5px;
  margin-bottom: 0;
  border-style: double;
}

.u-section-1 .u-layout-wrap-1 {
  width: 792px;
  margin: 23px auto 0 calc(((100% - 1140px) / 2)  + -40px);
}

.u-section-1 .u-layout-cell-1 {
  min-height: 249px;
}

.u-section-1 .u-container-layout-1 {
  padding: 15px 30px 0;
}

.u-section-1 .u-image-1 {
  --radius: 10px;
  width: 202px;
  height: 202px;
  margin: 9px auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 249px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-layout-wrap-2 {
  width: 481px;
  margin: -241px auto 0 calc(((100% - 1140px) / 2)  + 235px);
}

.u-section-1 .u-layout-cell-3 {
  min-height: 223px;
}

.u-section-1 .u-container-layout-3 {
  padding: 16px 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 14px auto 0 13px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 0 auto 0 13px;
}

.u-section-1 .u-layout-wrap-3 {
  width: 455px;
  margin: -145px calc(((100% - 1140px) / 2)  + -54px) 0 auto;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 108px;
}

.u-section-1 .u-container-layout-4 {
  padding: 29px 0;
}

.u-section-1 .u-social-icons-1 {
  height: 48px;
  width: 348px;
  min-width: 120px;
  margin: 1px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 0;
}

.u-section-1 .u-icon-2 {
  height: 0;
}

.u-section-1 .u-icon-3 {
  height: 0;
}

.u-section-1 .u-icon-4 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-1 .u-icon-5 {
  height: 100%;
  color: rgb(27, 31, 35) !important;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: -137px calc(((100% - 1140px) / 2)  + -33px) 0 calc(((100% - 1140px) / 2)  + 761px);
}

.u-section-1 .u-group-1 {
  width: 1150px;
  --radius: 10px;
  height: auto;
  min-height: 5px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 182px auto 0 calc(((100% - 1140px) / 2)  + -10px);
}

.u-section-1 .u-container-layout-5 {
  padding-left: 18px;
  padding-right: 18px;
}

.u-section-1 .u-image-2 {
  width: 87px;
  height: 87px;
  margin: 18px auto 0 37px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -94px 63px 0 178px;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  margin: 10px 0 0 178px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  margin: 34px calc(((100% - 1140px) / 2)  + 522px) 0 calc(((100% - 1140px) / 2)  + -10px);
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-7 {
  text-transform: uppercase;
  font-weight: 700;
  margin: -547px calc(((100% - 1140px) / 2)  + 136px) 0 calc(((100% - 1140px) / 2)  + 671px);
}

.u-section-1 .u-group-2 {
  width: 478px;
  height: auto;
  background-image: none;
  min-height: 1120px;
  margin: 9px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-accordion-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-accordion-link-1 {
  font-size: 1.875rem;
  letter-spacing: 1px;
  font-weight: 400;
}

.u-section-1 .u-icon-6 {
  height: 20px;
  width: 20px;
  background-image: none;
  padding: 4px;
}

.u-section-1 .u-accordion-pane-1 {
  min-height: 100px;
  height: auto;
}

.u-section-1 .u-container-layout-7 {
  padding: 3px;
}

.u-section-1 .u-line-2 {
  width: 444px;
  transform-origin: left center;
  margin: 0 auto 0 13px;
}

.u-section-1 .u-text-8 {
  margin: 11px 27px 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-accordion-link-2 {
  font-size: 1.875rem;
  letter-spacing: 1px;
  font-weight: 400;
}

.u-section-1 .u-icon-7 {
  height: 20px;
  width: 20px;
  background-image: none;
  padding: 4px;
}

.u-section-1 .u-accordion-pane-2 {
  min-height: 775px;
  height: auto;
}

.u-section-1 .u-container-layout-8 {
  padding: 4px 0;
}

.u-section-1 .u-line-3 {
  width: 444px;
  transform-origin: left center;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  margin: 25px 30px 0;
}

.u-section-1 .u-btn-13 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-14 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-15 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-16 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-17 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-18 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-19 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-20 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-accordion-link-3 {
  font-size: 1.875rem;
  letter-spacing: 1px;
  font-weight: 400;
}

.u-section-1 .u-icon-8 {
  height: 20px;
  width: 20px;
  background-image: none;
  padding: 4px;
}

.u-section-1 .u-accordion-pane-3 {
  min-height: 775px;
  height: auto;
}

.u-section-1 .u-container-layout-9 {
  padding: 7px 17px;
}

.u-section-1 .u-line-4 {
  width: 444px;
  transform-origin: left center;
  margin: 0 auto;
}

.u-section-1 .u-text-10 {
  margin: 22px 13px 0;
}

.u-section-1 .u-btn-21 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-22 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-23 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-24 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-25 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-26 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-27 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-28 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-29 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-30 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-accordion-link-4 {
  font-size: 1.875rem;
  letter-spacing: 1px;
  font-weight: 400;
}

.u-section-1 .u-icon-9 {
  height: 20px;
  width: 20px;
  background-image: none;
  padding: 4px;
}

.u-section-1 .u-accordion-pane-4 {
  min-height: 899px;
  height: auto;
}

.u-section-1 .u-container-layout-10 {
  padding: 11px 0;
}

.u-section-1 .u-line-5 {
  width: 444px;
  transform-origin: left center;
  margin: 0 auto;
}

.u-section-1 .u-text-11 {
  margin: 18px 30px 0;
}

.u-section-1 .u-btn-31 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-32 {
  font-size: 18px;
  background-color: rgb(242, 242, 242);
  font-family: "Open Sans", sans-serif;
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-33 {
  font-size: 18px;
  background-color: rgb(242, 242, 242);
  font-family: "Open Sans", sans-serif;
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-34 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-35 {
  font-size: 18px;
  background-color: rgb(242, 242, 242);
  font-family: "Open Sans", sans-serif;
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-36 {
  font-size: 18px;
  background-color: rgb(242, 242, 242);
  font-family: "Open Sans", sans-serif;
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-37 {
  font-size: 18px;
  background-color: rgb(242, 242, 242);
  font-family: "Open Sans", sans-serif;
  background-image: none;
  padding: 0;
}

.u-section-1 .u-accordion-link-5 {
  font-size: 1.875rem;
  letter-spacing: 1px;
  font-weight: 400;
}

.u-section-1 .u-icon-10 {
  height: 20px;
  width: 20px;
  background-image: none;
  padding: 4px;
}

.u-section-1 .u-accordion-pane-5 {
  min-height: 1353px;
  height: auto;
}

.u-section-1 .u-container-layout-11 {
  padding: 11px 0;
}

.u-section-1 .u-line-6 {
  width: 444px;
  transform-origin: left center;
  margin: 0 auto;
}

.u-section-1 .u-text-12 {
  margin: 18px 30px 0;
}

.u-section-1 .u-btn-38 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-39 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-40 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-41 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-42 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-43 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-44 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-45 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-13 {
  font-weight: 800;
  font-size: 1.875rem;
  margin: -570px calc(((100% - 1140px) / 2)  + 742px) 0 calc(((100% - 1140px) / 2)  + -10px);
}

.u-section-1 .u-text-14 {
  font-weight: 400;
  font-size: 1.375rem;
  margin: 19px calc(((100% - 1140px) / 2)  + 619px) 0 calc(((100% - 1140px) / 2)  + -10px);
}

.u-section-1 .u-text-15 {
  font-weight: 800;
  font-size: 1.875rem;
  margin: 41px calc(((100% - 1140px) / 2)  + 824px) 0 calc(((100% - 1140px) / 2)  + -11px);
}

.u-section-1 .u-text-16 {
  font-weight: 400;
  font-size: 1.375rem;
  margin: 10px calc(((100% - 1140px) / 2)  + 522px) 0 calc(((100% - 1140px) / 2)  + -10px);
}

.u-section-1 .u-text-17 {
  font-size: 1.3125rem;
  font-weight: 400;
  margin: -415px calc(((100% - 1140px) / 2)  + 532px) 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-text-18 {
  font-weight: 800;
  font-size: 1.875rem;
  margin: 156px 935px 0 calc(((100% - 1140px) / 2)  + -11px);
}

.u-section-1 .u-text-19 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 10px calc(((100% - 1140px) / 2)  + 523px) 60px calc(((100% - 1140px) / 2)  + -11px);
}

.u-section-1 .u-btn-46 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-47 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-48 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 3266px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-left: calc(((100% - 940px) / 2) + -40px);
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: -243px;
    margin-left: calc(((100% - 940px) / 2)  + 208px);
  }

  .u-section-1 .u-layout-wrap-3 {
    margin-top: -143px;
    margin-right: calc(((100% - 940px) / 2)  + -83px);
  }

  .u-section-1 .u-social-icons-1 {
    width: 271px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2)  + -62px);
    margin-left: calc(((100% - 940px) / 2)  + 590px);
  }

  .u-section-1 .u-group-1 {
    width: 950px;
    min-height: 5px;
    margin-top: 163px;
    margin-left: calc(((100% - 940px) / 2)  + -10px);
    height: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: 9px;
    margin-left: 55px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -85px;
    margin-right: 32px;
    margin-left: 203px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -3px;
    margin-right: 19px;
    margin-left: 203px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 42px;
    margin-right: calc(((100% - 940px) / 2)  + 431px);
    margin-left: calc(((100% - 940px) / 2)  + -10px);
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: -691px;
    margin-right: calc(((100% - 940px) / 2)  + 59px);
    margin-left: calc(((100% - 940px) / 2)  + 548px);
  }

  .u-section-1 .u-group-2 {
    width: 401px;
    margin-top: 11px;
    margin-right: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-1 .u-accordion-pane-1 {
    min-height: 100px;
  }

  .u-section-1 .u-line-2 {
    width: 361px;
  }

  .u-section-1 .u-accordion-pane-2 {
    min-height: 975px;
  }

  .u-section-1 .u-line-3 {
    width: 356px;
  }

  .u-section-1 .u-accordion-pane-3 {
    min-height: 2247px;
  }

  .u-section-1 .u-line-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-accordion-pane-4 {
    min-height: 1166px;
  }

  .u-section-1 .u-line-5 {
    width: 353px;
  }

  .u-section-1 .u-btn-32 {
    font-size: 18rem;
    text-align: left;
  }

  .u-section-1 .u-btn-33 {
    font-size: 18rem;
    text-align: left;
  }

  .u-section-1 .u-btn-35 {
    font-size: 18rem;
    text-align: left;
  }

  .u-section-1 .u-btn-36 {
    font-size: 18rem;
    text-align: left;
  }

  .u-section-1 .u-btn-37 {
    font-size: 18rem;
    text-align: left;
  }

  .u-section-1 .u-accordion-pane-5 {
    min-height: 1651px;
  }

  .u-section-1 .u-line-6 {
    width: 352px;
    margin-left: 21px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: -427px;
    margin-right: calc(((100% - 940px) / 2)  + 542px);
    margin-left: calc(((100% - 940px) / 2)  + -12px);
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: 13px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2)  + -12px);
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: 40px;
    margin-right: calc(((100% - 940px) / 2)  + 583px);
    margin-left: calc(((100% - 940px) / 2)  + -12px);
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-top: 11px;
    margin-right: calc(((100% - 940px) / 2)  + 431px);
    margin-left: calc(((100% - 940px) / 2)  + -10px);
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-top: -421px;
    margin-right: calc(((100% - 940px) / 2)  + 431px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-top: 157px;
    margin-right: calc(((100% - 940px) / 2)  + 568px);
    margin-left: calc(((100% - 940px) / 2)  + -12px);
  }

  .u-section-1 .u-text-19 {
    width: auto;
    margin: 12px calc(((100% - 940px) / 2)  + 440px) 39px calc(((100% - 940px) / 2)  + -10px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 3626px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 226px;
  }

  .u-section-1 .u-image-1 {
    width: 168px;
    height: 168px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 226px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: -233px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-wrap-3 {
    margin-top: 45px;
    margin-right: auto;
  }

  .u-section-1 .u-social-icons-1 {
    min-height: 16px;
  }

  .u-section-1 .u-text-3 {
    width: 412px;
    margin-top: -119px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-group-1 {
    width: 732px;
    min-height: 5px;
    margin-top: 94px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 24px;
    margin-left: 32px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -101px;
    margin-right: 36px;
    margin-left: 147px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 1px;
    margin-right: 52px;
    margin-left: 147px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 82px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2)  + -10px);
  }

  .u-section-1 .u-text-7 {
    width: 333px;
    margin-top: -531px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-group-2 {
    width: 732px;
    min-height: 343px;
    margin-top: 536px;
    margin-right: auto;
    margin-left: calc(((100% - 720px) / 2)  + -12px);
  }

  .u-section-1 .u-accordion-pane-1 {
    min-height: 100px;
  }

  .u-section-1 .u-line-2 {
    width: 692px;
  }

  .u-section-1 .u-accordion-pane-2 {
    min-height: 514px;
  }

  .u-section-1 .u-line-3 {
    width: 672px;
  }

  .u-section-1 .u-accordion-pane-3 {
    min-height: 489px;
  }

  .u-section-1 .u-accordion-pane-4 {
    min-height: 619px;
  }

  .u-section-1 .u-line-5 {
    width: 678px;
    margin-left: 24px;
  }

  .u-section-1 .u-accordion-pane-5 {
    min-height: 874px;
  }

  .u-section-1 .u-line-6 {
    width: 681px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 32px;
    margin-right: calc(((100% - 720px) / 2)  + 322px);
    margin-left: 44px;
  }

  .u-section-1 .u-text-14 {
    margin-right: calc(((100% - 720px) / 2) + 199px);
    margin-left: 44px;
  }

  .u-section-1 .u-text-15 {
    margin-right: calc(((100% - 720px) / 2)  + 404px);
    margin-left: 44px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 44px;
    margin-left: 49px;
  }

  .u-section-1 .u-text-17 {
    margin-top: -366px;
    margin-right: 92px;
    margin-left: 71px;
  }

  .u-section-1 .u-text-18 {
    margin-top: 142px;
    margin-right: 424px;
    margin-left: 47px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 44px;
    margin-bottom: 60px;
    margin-left: 49px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 3573px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 726px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 221px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 362px;
    margin-top: -947px;
    margin-right: calc(((100% - 540px) / 2)  + -17px);
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 191px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.6666666666666665rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-layout-wrap-3 {
    margin-top: 32px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 107px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -107px;
    font-size: 1rem;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    min-height: 5px;
    margin-top: 105px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 37px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.1111111111111112rem;
    margin-top: -113px;
    margin-right: -20px;
    margin-left: 139px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 5px;
    margin-right: 20px;
    margin-left: 139px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 45px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 24px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
    min-height: 329px;
    margin-top: 6px;
    margin-left: auto;
  }

  .u-section-1 .u-accordion-link-1 {
    font-size: 1.6666666666666665rem;
  }

  .u-section-1 .u-line-2 {
    width: 533px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-accordion-link-2 {
    font-size: 1.6666666666666665rem;
  }

  .u-section-1 .u-line-3 {
    width: 540px;
  }

  .u-section-1 .u-accordion-link-3 {
    font-size: 1.6666666666666665rem;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-accordion-link-4 {
    font-size: 1.6666666666666665rem;
  }

  .u-section-1 .u-line-5 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-accordion-link-5 {
    font-size: 1.6666666666666665rem;
  }

  .u-section-1 .u-line-6 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-top: 39px;
    margin-right: 265px;
    margin-left: calc(((100% - 540px) / 2)  + -1px);
  }

  .u-section-1 .u-text-14 {
    font-size: 1.222222222222222rem;
    margin-right: calc(((100% - 540px) / 2)  + 108px);
    margin-left: calc(((100% - 540px) / 2)  + -1px);
  }

  .u-section-1 .u-text-15 {
    margin-top: 39px;
    margin-right: calc(((100% - 540px) / 2)  + 216px);
    margin-left: calc(((100% - 540px) / 2)  + 1px);
  }

  .u-section-1 .u-text-16 {
    font-size: 1.222222222222222rem;
    margin-right: calc(((100% - 540px) / 2)  + -1px);
    margin-left: calc(((100% - 540px) / 2)  + 1px);
  }

  .u-section-1 .u-text-17 {
    font-size: 1.1666666666666665rem;
    margin-right: calc(((100% - 540px) / 2)  + 34px);
    margin-left: calc(((100% - 540px) / 2)  + 13px);
  }

  .u-section-1 .u-text-18 {
    margin-right: calc(((100% - 540px) / 2)  + 137px);
    margin-left: calc(((100% - 540px) / 2)  + 4px);
  }

  .u-section-1 .u-text-19 {
    font-size: 1rem;
    margin-right: calc(((100% - 540px) / 2));
    margin-bottom: 23px;
    margin-left: calc(((100% - 540px) / 2)  + 13px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 4902px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -16px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 192px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 171px;
    height: 171px;
    margin-top: 46px;
    margin-left: auto;
    margin-bottom: -37px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 60px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 402px;
    margin-top: -56px;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 180px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 13px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: auto;
  }

  .u-section-1 .u-layout-wrap-3 {
    width: 357px;
    margin-top: 34px;
  }

  .u-section-1 .u-social-icons-1 {
    width: 288px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
    font-weight: 700;
    margin-top: -117px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: 5px;
    margin-top: 117px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 21px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: 8px;
    margin-left: 33px;
    margin-right: 33px;
    font-size: 1rem;
  }

  .u-section-1 .u-text-5 {
    margin: 6px 33px -12px;
  }

  .u-section-1 .u-text-6 {
    width: 340px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 29px;
    margin-right: calc(((100% - 340px) / 2)  + 7px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-top: 27px;
  }

  .u-section-1 .u-line-2 {
    width: 333px;
  }

  .u-section-1 .u-line-3 {
    width: 340px;
  }

  .u-section-1 .u-line-5 {
    width: 340px;
  }

  .u-section-1 .u-line-6 {
    width: 340px;
  }

  .u-section-1 .u-text-13 {
    font-size: 1.5rem;
    width: 343px;
    margin-top: 34px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: auto;
  }

  .u-section-1 .u-text-14 {
    width: 340px;
    margin-top: 6px;
    margin-left: auto;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-15 {
    font-size: 1.5rem;
    margin-top: 23px;
    margin-right: calc(((100% - 340px) / 2)  + 17px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-16 {
    width: 340px;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-17 {
    font-size: 0.9375rem;
    width: 340px;
    margin-top: -390px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-18 {
    font-size: 1.5rem;
    margin-top: 181px;
    margin-right: calc(((100% - 340px) / 2)  + 26px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-19 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 11px;
  }
}

/*.u-section-1 .u-group-2 { 
  min-height: 0 !important;
  height: auto !important;
}*/

